footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.footer-wrapper {
  background-color: #fff;
  height: 200px;
}

footer, 
.footer {
  background-color: #fff;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.footer {
  border: none;
}
