<div class="container footer-wrapper">
  <div class="homepage-three footer">
    <div class="homepage-section-one">
      <ul>
        <li>About</li>
        <li>We are trying to change the way people look at leftovers.</li>
      </ul>
    </div>
    <div class="homepage-section-two">
      <div class="homepage-section-two-icon">
        <ul>
          <li>Information</li>
          <li>Link1</li>
          <li>Link2</li>
          <li>Link3</li>
        </ul>
      </div>
    </div>
    <div class="homepage-section-three" id="footer">
      <div class="homepage-section-two-icon social">
        <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
          <li>Connect</li>
          <br />
          <li><a href="#"><i class="fa fa-android"></i></a> </li>
          <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
          <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
          <li> <a href="#"><i class="fa fa-envelope-o"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>