<div class="container footer-wrapper">
  <div class="homepage-three footer">
    <div class="homepage-section-one">
      <ul>
        <li>About</li>
        <li>We are trying to change the way people look at leftovers.</li>
      </ul>
    </div>
    <div class="homepage-section-two">
      <ul>
        <li>Information</li>
        <li><a href="https://github.com/vpineda1996/hackathon2016">GitHub</a></li>
        <li><a href="http://vanstartupweek.ca/hackathon/">VSW 2016 Hackathon Event</a></li>
      </ul>
    </div>
    <div class="homepage-section-three" id="footer">
      <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
        <li>Connect</li>
        <br />
        <li><a href="#"><i class="fa fa-android"></i></a> </li>
        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </div>
  </div>
</div>