<div class="recipe-flex-container">
    <div class="recipe-flex">
        <div class="cardContainer" ng-repeat="recipe in $ctrl.recipes">
            <div class="author-title-container" ng-click="$ctrl.onClick(recipe)">
                <div class="item-image-back" style="background-image:url('{{recipe.imageBackground}}')"></div>
                <div class="title-recipe-item">
                    <div class="name-recipe-item">
                        {{recipe.name}}
                    </div>
                    <div class="rating-recipe-item">
                        <img src="assets/images/star.svg" width="20px" height="20px" ng-repeat="n in range(recipe)">
                    </div>
                </div>
            </div>

            <div class="bottom-recipe-item">
                <!--<div class="description-recipe-item-container">
                    <div class="description-recipe-item">
                        {{recipe.description}}
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>

<div class="extended-recipe" id='exended-recipe'>
    {{$ctrl.expandedRecipe}}
</div>