.recipe-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;


    & > div {
        width: 32%;
        height: 300px;
        align-content: center;
        border-radius: 4px 4px 0 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px #DDD solid;
        background-color: #ffffff;
        position: relative;

        .title-recipe-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-grow: 8;
            position: relative;
            
            & > div {
                width: 100%;
                padding-left: 30px;
                padding-right: 30px;
            }


            .name-recipe-item {
                font-size: 15px;
                color: white;
                margin-top: 21px;
                text-shadow: 1px 1px 1px #000
            }

            .rating-recipe-item {
                display: inline;
            }
        }

        .author-title-container {
            height: 80%;
            display: flex;
            flex-direction: row;
            border-radius: 4px 4px 0px 0px;
            background-size:cover;
        }

        .item-image-back {
            position: absolute;
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 101%;
            border-radius: 4px 4px 2px 2px;

            z-index: 0;
            filter: brightness(0.8);
        }
    }

    & > div:hover {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.28);
    }

    @media only screen and (max-width: 1100px){
        & > div {
            width: 49%;
        }
    }

    @media only screen and (max-width: 700px){
        & > div {
            width: 100%;
        }
    }

    .oneElem {
        width: 100%;
    }

    .twoElem {
        width: 49%;
    }
}

.recipe-flex-container {
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEEEEE;
}

.extended-recipe {
    width: 90%;
    position: fixed;
    background-color: white;
    bottom: 0px;
    z-index: 100;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 10px 10px 60px;
    margin-left: 5%;
    opacity: 0;
    visibility: hidden;
}

.extended-recipe.show {
    visibility: visible;
    opacity: 1;
    height: 90%;
    transition: height 300ms;
    position:fixed;
}

.extended-recipe {
    .close-extended {
        font-size: 25px;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    overflow-y: scroll;

    h4 {
        margin-left: 10px;
    }

    .extend-top-half {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .extended-image {
            width: auto;
            padding: 20px;
             align-self: flex-start;
            img {
                width: 420px;
                height: auto;
            }
        }

        .extended-top-half-details-wrapper {
            width: 50%;
            align-self: flex-start;
            margin-top: 20px;
            img {
                display: inline-block;
                width: 120px;
                height: auto;
                border-radius: 75px;
                margin-top: -10px;
            }
            .extended-top-half-details {
                display: inline-block;
                width: 50%;

                ul {
                    list-style: none;

                    .extended-recipe-description {
                        width: 350px;
                    }

                    .label {
                        font-size: 12px;
                        color: #000;
                    }
                }
            }
        }
    }

    .extend-bottom-half {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        .bottom-half-left {
            align-self: flex-start;
            width: 20%;
            margin-left: 2%;

            ul{
                list-style: none;
            }
            li:before {
                content: "\f068"; /* FontAwesome Unicode */
                font-family: FontAwesome;
                display: inline-block;
                margin-left: -1.3em; /* same as padding-left set on li */
                width: 1.3em; /* same as padding-left set on li */
                font-size: 8px;
            }

            i {
                font-size: 12px;
            }
        }
        .bottom-half-right {
            align-self: flex-start;
            width: 70%;
        }
    }
}

.no-items-message {
    width: 100%;
    height: 200px;
}

@media only screen and (max-width: 520px) {
    .extend-top-half {
        flex-direction: column !important;
    }

    .extended-image {
        width: auto;
        padding: 20px;
        align-self: flex-start;
        img {
            width: 80% !important;
            height: auto;
            margin-left: 10%;
        }
    }

    .extend-bottom-half {
        flex-direction: column !important;
        text-align: center;
        width: 90% !important;
        margin-left: 5% !important;
    }

    .bottom-half-left {
        width: 90% !important;
        margin-left: 5% !important;
        ul {
            padding: 0 !important;
        }
    }
    .bottom-half-right {
        width: 90% !important;
        margin-left: 5% !important;
        ol {
            padding: 0 !important;
        }
    }

    .extended-top-half-details-wrapper {
        width: 100% !important;
        img {
            margin-left: 33% !important;

        }
    }

    .extended-top-half-details {
        width: 90% !important;
    }

    .extended-recipe-description {
        width: 250px !important;
    }
}